@font-face {
    font-family: 'causten medium';
    src: url(../Causten-Font-Family/Causten/Causten\ Bold.ttf)
}
@font-face {
    font-family: 'causten bold';
    src: url(../Causten-Font-Family/Causten/Causten\ Black.ttf);
}
@font-face {
    font-family: 'causten semi-bold';
    src: url(../Causten-Font-Family/Causten/Causten\ Semi\ Bold.ttf);
}
@font-face {
    font-family: 'causten regular';
    src: url(../Causten-Font-Family/Causten/Causten\ Regular.ttf);
}
@font-face {
    font-family: 'causten extra bold';
    src: url(../Causten-Font-Family/Causten/Causten\ Extra\ Bold.ttf);
}
body{
    margin: 0;
    padding: 0;
    font-family: 'causten medium';
}
h1,h2,h3,h4,h5,h6,p,ul,li{
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
}

/* navbar */
*{
    margin: 0;
    padding: 0;
}


/* navbar */

.navbar{
    width: 100%;
    height: 110px;
    padding: 30px 100px;
    border-bottom: 1px solid rgba(60, 66, 66, 1);
    display: flex;
    justify-content: space-between;
    /* background-color: rgba(246, 246, 246, 1); */
}
.navbar .nav{
    /* padding: 30px 100px;
    /* display: flex; */
    /* justify-content: space-between;  */
    /* padding: 30px 100px;
    display: flex;
    justify-content: space-between; */
    /* width: 100vw; */
}
.list_item ol{
    display: flex;
}
.list_item ol li{
    list-style: none;
    margin-left: 40px;
    font-size: 22px;
    padding-top: 10px;
    color: rgba(60, 66, 66, 1);
}
.list_item ol li a{
    color: rgba(60, 66, 66, 1);
    text-decoration: none;
}
.list_item ol li:nth-child(1){
    margin-left: 0px;
}
.list_item ol li a:hover{
    font-family: 'causten bold';
    text-decoration: underline;
}
.input_box input{
    padding: 12px 48px 12px 80px;
    background-color: rgba(246, 246, 246, 1);
    border: none;
    color: rgba(128, 125, 126, 1);
    border-radius: 8px;
    font-size: 18px;
    font-family: 'causten regular';
}
.input_box{
    position: relative;
}
.input_box i{
    font-size: 15px;
    color: rgba(128, 125, 126, 1);
    position: absolute;
    top: 15px;
    left: 46px;
}
.icons i{
    font-size: 20px;
    /* color: rgba(128, 125, 126, 1); */
}
.icons .wish_icon{
    background-color: rgba(246, 246, 246, 1);
    width: 44px;
    height: 44px;
    border-radius: 8px;
    color: rgba(128, 125, 126, 1);
    position: relative;
}
/* .icons .wish_icon:hover{
    background-color: rgba(128, 125, 126, 1);
    color: rgba(246, 246, 246, 1);
} */
.icons .wish_icon i{
    position: absolute;
    font-size: 20px;
    /* color: rgba(128, 125, 126, 1); */
    top: 12px;
    left: 14px;
}
.icons .user_icon{
    background-color:rgba(138, 51, 253, 1);
    width: 44px;
    height: 44px;
    border-radius: 8px;
    color: white;
    position: relative;
    margin-left: 12px;
}
/* .icons .user_icon:hover{
    background-color: rgba(128, 125, 126, 1);
    color: rgba(246, 246, 246, 1);
} */
.icons .user_icon i{
    position: absolute;
    font-size: 20px;
    /* color: rgba(128, 125, 126, 1); */
    top: 12px;
    left: 14px;
}
.icons .cart_icon{
    background-color: rgba(246, 246, 246, 1);
    width: 44px;
    height: 44px;
    border-radius: 8px;
    color: rgba(128, 125, 126, 1);
    position: relative;
    margin-left: 12px;
}
/* .icons .cart_icon:hover{
    background-color: rgba(128, 125, 126, 1);
    color: rgba(246, 246, 246, 1);
} */
.icons .cart_icon i{
    position: absolute;
    font-size: 20px;
    /* color: rgba(128, 125, 126, 1); */
    top: 12px;
    left: 14px;
}
.icons{
    display: flex;
}
.logo i{
    display: none;
}
.three_dots{
    display: none;
}

/* responsive navbar */


.responsive_nav{
    display: none;
}
.search{
    display: none;
}



/* home icons */

.select_feild{
    display: flex;
    padding-left: 100px;
    padding-top: 30px;
}
.select_feild .home{
    display: flex;
}
.select_feild .home h1{
    font-size: 18px;
    color: rgba(128, 125, 126, 1);
}
.select_feild .home h1:hover{
    color: rgba(60, 66, 66, 1);
}
.select_feild .home i{
    color: rgba(128, 125, 126, 1);
    font-size: 15px;
    padding-top: 5px;
    padding-left: 15px;
}

.select_feild .account{
    display: flex;
}
.select_feild .account h1{
    font-size: 18px;
    color: rgba(128, 125, 126, 1);
}
.select_feild .account h1:hover{
    color: rgba(60, 66, 66, 1);
}
.select_feild .account i{
    color: rgba(128, 125, 126, 1);
    font-size: 15px;
    padding-top: 5px;
    padding-left: 15px;
}
.account{
    padding-left: 15px;
}

.select_feild .check{
    display: flex;
}
.select_feild .check h1{
    font-size: 18px;
    color: rgba(128, 125, 126, 1);
}
.select_feild .check h1:hover{
    color: rgba(60, 66, 66, 1);
}
.check{
    padding-left: 15px;
}

/* proflie name */


.profile_name .shape{
    background-color: rgba(138, 51, 253, 1);
    width: 6px;
    height: 30px;
    border: 2px solid rgba(138, 51, 253, 1);
    border-radius: 10px;
}
.profile_name h2{
    font-size: 28px;
    color: rgba(60, 66, 66, 1);
    margin-left: 30px;
}
.profile_name{
    display: flex;
    
}
.profile_list{
    /* padding: 50px 0px 0px 100px; */
    width: 16%;
}
.profile_list p{
    color: rgba(128, 125, 126, 1);
    font-size: 16px;
    font-family: 'causten regular';
    padding-top: 10px;
}
.profile_list ul{
    list-style: none;
    margin-top: 40px;
    /* padding-left: 30px; */
}
.profile_list ul li{
    display: flex;
    margin-top: 30px;
    padding: 15px 10px;
    width: 60%;
}
.profile_list ul li:nth-child(3){
    background-color: rgba(246, 246, 246, 1);
    color: rgba(128, 125, 126, 1);
    border-left: 1px solid rgba(60, 66, 66, 1);
    padding: 15px 10px;
    width: 60%;
}
.profile_list ul li:nth-child(1){
    margin-top: 0px;
}
.profile_list ul li h1{
    color: rgba(128, 125, 126, 1);
    font-size: 18px;
    margin-left: 15px;
}
.profile_list ul li i{
    color: rgba(128, 125, 126, 1);
    font-size: 20px;
}


/* edit part */

.edit_swapper{
    margin-left: 40px;
    width: 100%;
}
.form_edit h1{
    font-size: 28px;
    color: rgba(60, 66, 66, 1);
    font-family: 'causten semi-bold';
}
.form_edit h2{
    font-size: 20px;
    color: rgba(60, 66, 66, 1);
    font-family: 'causten semi-bold';
    padding-top: 20px;
}
.form-group{
    margin-top: 30px;
}
.edit_swapper.form_edit{
    width: 82%;
}
.form-group input{
    padding: 8px 30px 20px 8px;
    border: none;
    border-bottom: 1px solid rgba(237, 238, 242, 1);
    margin-top: 10px;
}
.form-group{
    /* width: 42%; */
    position: relative;

}
.form-group h3{
    position: absolute;
    right: 15px;
    top: 45px;
    font-size: 18px;
    font-family: 'causten semi-bold';
    color: rgba(60, 66, 66, 1);
}
.list_edit{
    display: flex;
    padding: 50px 100px 100px 100px;
    /* justify-content: space-between; */
}




/* address cart */



.add_addresss{
    display: flex;
    justify-content: space-between;
    margin: 30px 16px;
}
.add_addresss h2{
    font-size: 18px;
    font-family: 'causten semi-bold';
}
.add_addresss a{
    color: rgba(60, 66, 66, 1);
    text-decoration: none;
}
.add_addresss h1{
    font-size: 22px;
    font-family: 'causten semi-bold';
}
.top_cart{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.cart_details{
    width: 450px;
    height: 300px;
    background-color: rgba(246, 246, 246, 1);
    border-radius: 10px;
}
.text_part{
    padding: 25px 45px;
}
.text_part h1{
    font-size: 20px;
    font-family: 'causten semi-bold';
    color: rgba(60, 66, 66, 1);
}
.text_part h2{
    font-size: 16px;
    color: rgba(128, 125, 126, 1);
    padding-top: 20px;
}
.text_part p{
    font-size: 16px;
    color: rgba(128, 125, 126, 1);
    padding-top: 20px;
    width: 85%;
}
.buttons button{
    color: rgba(128, 125, 126, 1);
    border: 1px solid rgba(128, 125, 126, 1);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 25px;
}
.buttons button:hover{
    background-color: rgba(128, 125, 126, 1);
    color: rgba(246, 246, 246, 1);
}
.buttons button:nth-child(2){
    margin-left: 15px;
}

.remove_edit{
    display: flex;
}
.remove_edit h1{
    color: rgba(60, 66, 66, 1);
    padding-top: 20px;
}
.remove_edit h1:nth-child(2){
    padding-left: 20px;
}




/* wishlist */



#wishlist{
    display: none;
}
.wishlist h1{
    font-size: 18px;
    font-family: 'causten bold';
    color: rgba(60, 66, 66, 1);
}
.wishlist{
    width: 84%;
}
.wishlist_cart{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.wish_left{
    display: flex;
    justify-content: space-between;
}
.wish_text h1{
    font-size: 22px;
    font-family: 'causten bold';
    color: rgba(60, 66, 66, 1);
}
.wish_text h2{
    font-size: 22px;
    font-family: 'causten bold';
    color: rgba(60, 66, 66, 1);
    padding-top: 12px;
}
.wish_text h3{
    font-size: 22px;
    font-family: 'causten bold';
    color: rgba(60, 66, 66, 1);
    padding-top: 12px;
}
.wish_text h2 span{
    font-family: 'causten regular';
}
.wish_text h3 span{
    font-family: 'causten regular';
}
.wish_text{
    margin-left: 40px;
}
.wish_left i{
    padding-top: 45px;
}
.wish_left img{
    margin-left: 45px;
}

.wish_right{
    display: flex;
    align-items: center;
}
.wish_right h1{
    padding-top: 3px;
    font-size: 22px;
    color: rgba(128, 125, 126, 1);
}
.wish_right button{
    padding: 14px 28px;
    font-size: 18px;
    color: white;
    background-color: rgba(138, 51, 253, 1);
    font-family: 'causten medium';
    border: none;
    border-radius: 5px;
    margin-left: 50px;
}
.wish_right{
    /* width: 20%; */
}
.wishlist .dash{
    border: 1px solid rgba(237, 238, 242, 1);
    margin-top: 30px;
}





/* orders */

#orders{
    display: none;
    width: 100%;
}
.headline h1{
    font-size: 28px;
    font-family: 'causten semi-bold';
    color: rgba(60, 66, 66, 1);
}

/* list */

.orders{
    width: 80%;
}
.lists ul{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(246, 246, 246, 1);
}
.lists ul li{
    list-style: none;
    font-size: 22px;
    padding: 10px 40px;
    color: rgba(60, 66, 66, 1);
}


/* order cart */

.details{
    background-color: rgba(246, 246, 246, 1);
    border-radius: 8px;
    margin-top: 50px;
}
.order_cart{
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}
.delivery h1{
    font-size: 20px;
    color: rgba(60, 66, 66, 1);
    font-family: 'causten semi-bold';
}
.delivery h2{
    font-size: 14px;
    color: rgba(128, 125, 126, 1);
    padding-top: 15px;
}
.delivery h2 span{
    color: rgba(190, 188, 189, 1);
}
.status h1{
    font-size: 14px;
    color: rgba(60, 66, 66, 1);
    font-family: 'causten semi-bold';
    padding-top: 40px;
}
.status h1 span{
    color: rgba(190, 188, 189, 1);
}
.status h2{
    font-size: 14px;
    color: rgba(60, 66, 66, 1);
    font-family: 'causten semi-bold';
    padding-top: 15px;
}
.status h2 span{
    color: rgba(190, 188, 189, 1);
}



/* view_details */

.view_details{
    display: flex;
    justify-content: space-between;
}
.total_amount h1{
    font-size: 16px;
    color: rgba(60, 66, 66, 1);
    font-family: 'causten bold';
}
.total_amount h2{
    font-size: 16px;
    color: rgba(60, 66, 66, 1);
    font-family: 'causten semi-bold';
    padding-top: 10px;
    font-size: 14px;
}
.total_amount h2 span{
    color: rgba(190, 188, 189, 1);
}
.total_amount h3{
    font-size: 16px;
    color: rgba(60, 66, 66, 1);
    font-family: 'causten semi-bold';
    padding-top: 10px;
    font-size: 14px;
}
.total_amount h3 span{
    color: rgba(190, 188, 189, 1);
}
.total_amount h4{
    color: rgba(128, 125, 126, 1);
    font-size: 16px;
    font-family: 'causten semi-bold';
    padding-top: 10px;
    font-size: 14px;
}
.total_amount{
    margin-left: 30px;
}
.image_amount{
    display: flex;
}

.button_details button{
    background-color: rgba(138, 51, 253, 1);
    border: 1px solid rgba(138, 51, 253, 1);
    border-radius: 8px;
    font-size: 18px;
    color: white;
    height: 50px;
    padding: 10px 20px;
}
.view_details{
    padding: 30px 0px;
    border-bottom: 1px solid rgba(237, 238, 242, 1);
}





/* footer */

.footer{
    background-color: rgba(42, 47, 47, 1);
}
.footer .footers_padding{
    padding: 60px 190px 0px 190px;
}
.footer .footers_padding .footer_list{
    /* display: flex;
    justify-content: space-between; */
}
.footer .footers_padding .footer_list .need{
    font-size: 20px;
    color: white;
}
.footer .footers_padding .footer_list .need ol li{
    color: white;
    padding-top: 15px;
    font-size: 15px;
    list-style: none;
}
.footer .footers_padding .footer_list .need ol{
    padding-top: 20px;
    padding-left: 0px;
}
.footer .footers_padding .footer_list .need ol li:nth-child(1){
    padding-top: 0px;
}

.footer .footers_padding .social_icons{
    width: 180px;
    display: flex;
    justify-content: space-between;
}
.footer .footers_padding .social_icons .media{
    background-color: rgba(246, 246, 246, 1);
    width: 40px;
    height: 40px;
    border: 1px solid rgba(246, 246, 246, 1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .footers_padding .social_icons .media i{
    font-size: 20px;
    color: rgba(42, 47, 47, 1);
}

.footer .footers_padding .download{
    display: flex;
    justify-content: space-between;
    width: 95%;

}
.footer .footers_padding .download .social_icons .media{
    margin-left: 10px;
}
.footer .footers_padding .download .social_icons .media:nth-child(1){
    margin-left: 0px;
}
.footer .footers_padding .download .social_icons{
    padding-top: 80px;
}
.footer .footers_padding .download .app_download h1{
    color: white;
    font-size: 30px;
}
.footer .footers_padding .download .app_download .googlestore .playstore{
    display: flex;
}
.footer .footers_padding .download .app_download .googlestore .playstore .google{
    padding-left: 10px;
}
.footer .footers_padding .download .app_download .googlestore .playstore .google h2{
    font-size: 10px;
    color: white;
}
.footer .footers_padding .download .app_download .googlestore .playstore .google h3{
    font-size: 18px;
    color: white;
}
.footer .footers_padding .download .app_download .googlestore{
    width: 350px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.footer .dash{
    border: 1px solid white;
    width: 90%;
    margin: 50px 100px 0px 100px;
}

.footer .popular_catagory h1{
    font-size: 30px;
    color: white;
    padding: 30px 180px 0px 180px;
}
.footer .popular_catagory{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.footer .popular_catagory i{
    color: white;
    padding-top: 30px;
    font-size: 30px;
}
.footer h5{
    text-align: center;
    font-size: 20px;
    padding: 40px 0px 60px 0px;
    color: white;
}
h5{
    margin-bottom: 0px;
}


.footer .footers_padding {
    padding: 60px 40px 0px 81px;
}
.row {
    --bs-gutter-x: 0rem !important;
}
.footer{
    margin-top: 50px;
}


@media screen  and (min-width:1025px) and (max-width:1366px){
    
}
@media screen  and (min-width:769px) and (max-width:1024px){

                /* navbar */
    
                .navbar{
                    display: none;
                }
            
               .responsive_nav{
                display: block;
                display: flex;
                justify-content: space-between;
                padding: 20px;
               }
            
               .icons .wish_icon i {
                position: absolute;
                font-size: 14px;
             
                top: 10px;
                left: 11px;
                }
                .icons .wish_icon {
                background-color: rgba(246, 246, 246, 1);
                width: 35px;
                height: 35px;
                border-radius: 8px;
                position: relative;
                }
                .icons .user_icon i {
                    position: absolute;
                    font-size: 14px;
                 
                    top: 10px;
                    left: 11px;
                }
                .icons .user_icon {
                    background-color:rgba(138, 51, 253, 1);
                    width: 35px;
                    height: 35px;
                    border-radius: 8px;
                    position: relative;
                }
                .icons .cart_icon i {
                    position: absolute;
                    font-size: 14px;
                 
                    top: 10px;
                    left: 11px;
                }
                .icons .cart_icon {
                    background-color: rgba(246, 246, 246, 1);
                    width: 35px;
                    height: 35px;
                    border-radius: 8px;
                    position: relative;
                }
                .icons{
                    margin-top: 10px;
                }
            
                /* navbar hamburger */
            
        .btn-primary{
            background: none;
            color: rgba(128, 125, 126, 1);
            border: 1px solid rgba(128, 125, 126, 1);
            width: 35px;
            height: 35px;
            padding: 4px;
        }
        .btn-primary:hover{
            background-color: rgba(128, 125, 126, 1);
            color: white;
            border-color: rgba(128, 125, 126, 1);
        }
            
        .responsive_nav .logo img{
            width: 100px;
            height: 50px;
        }
        .right_offcanvas{
            margin-top: 10px;
        }
            
        .offcanvas.offcanvas-end{
            width: 50%;
        }
        .offcanvas-body{
            padding: 0px;
        }
        .offcanvas-body li{
            list-style: none;
            font-size: 16px;
            color: rgba(60, 66, 66, 1);
            margin-top: 20px;
            padding: 10px;
        }
        .offcanvas-body a{
            text-decoration: none;
        }
        .offcanvas-body li:nth-child(1){
            margin-top: 0px;
        }
        .offcanvas-body li:hover{
            color: rgb(90, 103, 103);
            background-color: rgb(173, 171, 171);
        }
        .offcanvas-body ul{
            padding: 0;
        }
        .offcanvas-header{
            padding: 10px;
        }
        .offcanvas-header h5{
            font-size: 35px;
            color: rgb(90, 103, 103);
        }
        .search{
            display: block;
            padding: 0px 20px 20px 20px;
        }
        .search .input_box input {
            padding: 12px 48px 12px 48px;
            width: 100%;
            border: 1px solid rgb(90, 103, 103);
        }
        .search .input_box i {
            font-size: 15px;
            color: rgba(128, 125, 126, 1);
            position: absolute;
            top: 18px;
            left: 18px;
        }


        /* list */

        .select_feild{
            padding: 20px 30px;
        }
    
        /* profile */
        .list_edit {
            display: block;
            padding: 20px 30px;
        }
        .profile_list{
            width: 100%;
        }
        .profile_list ul {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            padding-left: 0px;
        }
        .profile_list ul li{
            margin-top: 0px;
            padding: 12px !important;
        }
        .profile_list ul li i {
            font-size: 20px;
        }
        .profile_list ul li h1{
            font-size: 17px;
        }
        .form_edit{
            margin-left: 0px;
            padding-top: 20px;
            width: 96%;
        }



            /* form part */

    .edit_swapper {
        margin-left: 0px;
    }
    .form_edit h1 {
        font-size: 26px;
        padding-top: 40px;
    }
    .form_edit h2 {
        font-size: 16px;
    }
    .form-group input {
        font-size: 16px;
        padding: 8px 30px 10px 8px;
    }
    .form-group h3 {
        position: absolute;
        right: 15px;
        top: 43px;
        font-size: 16px;
    }


        /* address cart */


        /* .top_cart {
            display: block;
        } */
        .cart_details {
            width: 350px;
            height: 300px;
            margin-top: 30px;
        }
        .text_part {
            padding: 17px 30px 20px 30px;
        }
        .text_part p {
            width: 92%;
        }
        .buttons button {
            padding: 10px;
            margin-top: 20px;
        }





           /* wishlist */

            .wishlist {
            width: 100%;
        }
    
         .wishlist h1 {
            font-size: 18px;
            padding-top: 20px;
            width: 65%;
         }
         .wish_left i {
            padding-top: 25px;
        }
         .wish_left img {
            margin-left: 30px;
            width: 70px;
            height: 70px;
        }
        .wish_text h1{
            padding-top: 0px;
            font-size: 18px;
        }
        .wish_text h2 {
            font-size: 15px;
        }
        .wish_text h3 {
            font-size: 15px;
        }
        .wish_text {
            margin-left: 20px;
        }
        .wish_right button {
            padding: 8px 32px;
            font-size: 14px;
            margin-left: 20px;
        }
        .wish_right  h1 {
            font-size: 18px;
            padding-top: 0px;
        }



        
    /* orders */


  .orders{
        width: 100%;
    }
    .headline h1 {
        font-size: 18px;
        padding-top: 20px;
    }

    /* lists */

    .lists ul li {
        padding: 30px 10px 10px 10px;
        font-size: 16px;

    }


    /* order cart */

    .order_cart {
        padding: 20px;
    }
    .delivery h2 {
        font-size: 12px;
    }
    .delivery h2 {
        font-size: 12px;
    }
    .delivery h1 {
        font-size: 16px;
    }
    .status h2 {
        font-size: 12px;
    }
    .status h1 {
        font-size: 12px;
        padding-top: 34px;
    }


    /* view details */

    .picture img{
        width: 80px;
        height: 80px;
    }
    .total_amount h1 {
        font-size: 16px;
    }
    .total_amount h2 {
        font-size: 14px;
    }
    .total_amount h3 {
        font-size: 14px;
    }
    .total_amount h4 {
        font-size: 14px;
    }
    .button_details button {
        padding: 10px;
        font-size: 15px;
    }

    /* lists */

    /* .lists ul li {
        padding: 30px 10px 10px 10px;
        font-size: 16px;

    } */


    /* order cart */







        .footer .dash {
            width: 95%;
            margin: 30px 20px 0px 20px;
        }
}
@media screen  and (min-width:540px) and (max-width:768px){
    
}
@media screen  and (min-width:320px) and (max-width:539px){

    /* navbar */

    .navbar{
        display: none;
    }

   .responsive_nav{
    display: block;
    display: flex;
    justify-content: space-between;
    padding: 20px;
   }

   .icons .wish_icon i {
    position: absolute;
    font-size: 14px;
 
    top: 10px;
    left: 11px;
    }
    .icons .wish_icon {
    background-color: rgba(246, 246, 246, 1);
    width: 35px;
    height: 35px;
    border-radius: 8px;
    position: relative;
    }
    .icons .user_icon i {
        position: absolute;
        font-size: 14px;
     
        top: 10px;
        left: 11px;
    }
    .icons .user_icon {
        background-color: rgba(138, 51, 253, 1);
        width: 35px;
        height: 35px;
        border-radius: 8px;
        position: relative;
    }
    .icons .cart_icon i {
        position: absolute;
        font-size: 14px;
     
        top: 10px;
        left: 11px;
    }
    .icons .cart_icon {
        background-color: rgba(246, 246, 246, 1);
        width: 35px;
        height: 35px;
        border-radius: 8px;
        position: relative;
    }
    .icons{
        margin-top: 10px;
    }

    /* navbar hamburger */

    .btn-primary{
        background: none;
        color: rgba(128, 125, 126, 1);
        border: 1px solid rgba(128, 125, 126, 1);
        width: 35px;
        height: 35px;
        padding: 4px;
    }
    .btn-primary:hover{
        background-color: rgba(128, 125, 126, 1);
        color: white;
        border-color: rgba(128, 125, 126, 1);
    }

    .responsive_nav .logo img{
        width: 100px;
        height: 50px;
    }
    .right_offcanvas{
        margin-top: 10px;
    }

    .offcanvas.offcanvas-end{
        width: 50%;
    }
    .offcanvas-body{
        padding: 0px;
    }
    .offcanvas-body li{
        list-style: none;
        font-size: 16px;
        color: rgba(60, 66, 66, 1);
        margin-top: 20px;
        padding: 10px;
    }
    .offcanvas-body a{
        text-decoration: none;
    }
    .offcanvas-body li:nth-child(1){
        margin-top: 0px;
    }
    .offcanvas-body li:hover{
        color: rgb(90, 103, 103);
        background-color: rgb(173, 171, 171);
    }
    .offcanvas-body ul{
        padding: 0;
    }
    .offcanvas-header{
        padding: 10px;
    }
    .offcanvas-header h5{
        font-size: 35px;
        color: rgb(90, 103, 103);
    }
    .search{
        display: block;
        padding: 0px 20px 20px 20px;
        border-bottom: 1px solid rgb(90, 103, 103);
    }
    .search .input_box input {
        padding: 12px 48px 12px 48px;
        width: 100%;
        border: 1px solid rgb(90, 103, 103);
    }
    .search .input_box i {
        font-size: 15px;
        color: rgba(128, 125, 126, 1);
        position: absolute;
        top: 18px;
        left: 18px;
    }


    /* list */

    .select_feild{
        padding: 20px;
    }

    /* profile */
    .list_edit {
        display: block;
        padding: 20px;
    }
    .profile_list{
        width: 100%;
    }
    .profile_list ul {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        padding-left: 0px;
    }
    .profile_list ul li{
        margin-top: 0px;
        padding: 5px !important;
    }
    .profile_list ul li i {
        font-size: 14px;
    }
    .profile_list ul li h1{
        font-size: 14px;
        margin-left: 6px;
    }
    .form_edit{
        margin-left: 0px;
        padding-top: 20px;
        width: 96%;
    }


    /* form part */

    .edit_swapper {
        margin-left: 0px;
    }
    .form_edit h1 {
        font-size: 24px;
        padding-top: 40px;
    }
    .form_edit h2 {
        font-size: 14px;
    }
    .form-group input {
        font-size: 14px;
        padding: 8px 30px 10px 8px;
    }
    .form-group h3 {
        position: absolute;
        right: 15px;
        top: 43px;
        font-size: 14px;
    }



    /* address cart */


    .top_cart {
        display: block;
    }
    .cart_details {
        width: 385px;
        height: 300px;
        margin-top: 30px;
    }
    .text_part {
        padding: 17px 30px 40px 30px;
    }
    .text_part p {
        width: 92%;
    }
    .buttons button {
        padding: 10px;
        margin-top: 20px;
    }




           /* wishlist  */


     .wishlist {
        width: 100%;
    }

     .wishlist h1 {
        font-size: 18px;
        padding-top: 20px;
        width: 65%;
     }
     .wish_left img {
        margin-left: 10px;
        width: 70px;
        height: 70px;
    }
    .wish_text h1{
        padding-top: 0px;
        font-size: 16px;
    }
    .wish_text h2 {
        font-size: 15px;
    }
    .wish_text h3 {
        font-size: 15px;
        padding-top: 5px;
    }
    .wish_text {
        margin-left: 20px;
    }
    .wish_right button {
        padding: 6px 14px;
        font-size: 10px;
        margin-left: 20px;
    }
    .wish_right  h1 {
        font-size: 16px;
        padding-top: 0px;
    }
    .wish_left i {
        padding-top: 25px;
    }





       /* orders */


   .orders{
        width: 100%;
    }
    .headline h1 {
        font-size: 18px;
        padding-top: 20px;
    }

    /* lists */

    .lists ul li {
        padding: 30px 10px 10px 10px;
        font-size: 16px;

    }


    /* order cart */

    .order_cart {
        padding: 20px;
    }
    .delivery h2 {
        font-size: 11px;
    }
    .delivery h2 {
        font-size: 11px;
    }
    .delivery h1 {
        font-size: 16px;
    }
    .status h2 {
        font-size: 10px;
    }
    .status h1 {
        font-size: 10px;
        padding-top: 34px;
    }


    /* view details */

    .picture img{
        width: 60px;
        height: 60px;
    }
    .total_amount h1 {
        font-size: 14px;
    }
    .total_amount h2 {
        font-size: 12px;
    }
    .total_amount h3 {
        font-size: 12px;
    }
    .total_amount h4 {
        font-size: 12px;
    }
    .button_details button {
        padding: 10px;
        font-size: 15px;
    }



    /* order cart */


    
   






    /* footer */

    .footer .footers_padding {
        padding: 20px;
    }


    
    .footer .footers_padding .footer_list .need ol {
        padding-top: 20px;
        padding-left: 5px;
        margin-bottom: 3rem;
    }

    /* download */

    .footer .footers_padding .download{
        display: block;
    }
    .footer .footers_padding .download .social_icons {
        padding-top: 0px;
        margin: 0 auto;
    }
    .download .app_download{
        padding-top: 30px;
    }
    .footer .footers_padding .download .app_download .googlestore{
        padding-top: 20px;
    }
    .footer .footers_padding .download .app_download h1 {
        font-size: 20px;
    }

    .footer .dash {
        width: 90%;
        margin: 20px 20px 0px 20px;
    }

    .footer .popular_catagory h1 {
        padding: 20px 20px 0px 20px;
    }

    .footer h5 {
        /* display: none; */
    }
    .footer h5 {
        font-size: 12px;
        padding: 20px 0px 20px 0px;
    }
}